<H1><a href="/">CRUD NODE</a></H1>
<hr>
<form action="atualiza" method="post" name="form2">
    <input type="hidden" name="id"   placeholder="id" value="{{id}}"><br>
    <input type="text" name="name"   placeholder="name" value="{{name}}"><br>
    <input type="number" name="age"   placeholder="age" value="{{age}}"><br>
     <input type="text" name="email" id="email" placeholder="email" value="{{email}}"><br>
    <input type="text" name="bairro" id="bairro" placeholder="Bairro" value="{{bairro}}"><br>
    <input type="text" name="cidade" id="cidade" placeholder="Cidade" value="{{cidade}}"><br>
    <input type="text" name="ensino" id="ensino" placeholder="ensino" value="{{ensino}}"><br>
    <input type="text" name="nascimento" id="nascimento" placeholder="Nascimento" value="{{nascimento}}"><br>
    <input type="submit" name="btnsubmit" id="btnsubmit" value="Add"> 

    <input type="submit" name="btnsubmit" id="btnsubmit" value="Update"> 

</form>